@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans/GeneralSans-Regular.woff2') format('woff2'),
    url('/fonts/GeneralSans/GeneralSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans/GeneralSans-Bold.woff2') format('woff2'),
    url('/fonts/GeneralSans/GeneralSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  text-wrap: balance;
}

body {
  font-family: 'General Sans', Courier, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Header Styling */
.header {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.favicon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: block;
}

.title-container {
  flex-grow: 1;
  max-width: 80%;
}

h1,
.title {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}